# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs
*.png filter=lfs diff=lfs merge=lfs
*.fbx filter=lfs diff=lfs merge=lfs
*.obj filter=lfs diff=lfs merge=lfs
*.PNG filter=lfs diff=lfs merge=lfs
*.FBX filter=lfs diff=lfs merge=lfs
*.OBJ filter=lfs diff=lfs merge=lfs

